<ion-header>
  <ion-toolbar>
    <ion-title>À propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>À propos de l'application Recettes</h1>
  <p>
    Cette application vous permet de gérer facilement vos recettes préférées.
    Vous pouvez :
  </p>
  <ul>
    <li>Créer de nouvelles recettes.</li>
    <li>Consulter une liste organisée de vos recettes.</li>
    <li>Modifier ou supprimer vos recettes existantes.</li>
    <li>Trouver des restaurants à proximité avec la géolocalisation de votre appareil.</li>
  </ul>
  
</ion-content>
