<ion-header>
  <ion-toolbar>
    <ion-title>Créer une recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Catégorie</ion-label>
      <ion-select formControlName="category">
        <ion-select-option value="entrée">Entrée</ion-select-option>
        <ion-select-option value="plat">Plat</ion-select-option>
        <ion-select-option value="dessert">Dessert</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ingrédients</ion-label>
      <ion-textarea formControlName="ingredients"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Étapes</ion-label>
      <ion-textarea formControlName="steps"></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit">Ajouter la recette</ion-button>
  </form>
</ion-content>
